:root {
  /* Primary Palette */
  --Color-primary: #27ae60;
  --Color-primary-50: #93d7af;
  --Color-secondary: #eb5757;

  /* Grey Scale Palette */

  --gray-100: #333333;
  --grey-50: #828282;
  --grey-20: #e0e0e0;
  --grey-0: #f5f5f5;

  /* Feedback Palette */
  --Negative: #e60000;
  --Warning: #ffcd07;
  --Sucess: #168821;
  --Information: #155bcb;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  /* ----- HEADER ----- */
  .header {
    background-color: var(--grey-20);
    padding: 30px 0;
  }
  header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80px;
  }

  header .box-logo h1 {
    font-size: 36px;

    background: -webkit-linear-gradient(90deg, #333333 62.64%, #eb5757 64.74%);
    background: linear-gradient(90deg, #333333 62.64%, #eb5757 64.74%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 15px;
  }

  header .box-input {
    display: flex;
    position: relative;
  }

  header .box-input input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 15px;

    width: 300px;
    height: 60px;

    background: #ffffff;

    border: 2px solid var(--gray-100);
    box-sizing: border-box;
    border-radius: 8px;
  }

  header .box-input button {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 107px;
    height: 40px;

    background: var(--Color-primary);

    border: 2px solid var(--Color-primary);
    box-sizing: border-box;
    border-radius: 8px;

    cursor: pointer;

    color: var(--grey-0);
  }

  /* ----- MAIN ----- */

  main > .container {
    display: flex;
    padding: 40px 0;

    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .aside__title {
    /* width: 30%; */
    width: 320px;
    height: 65px;

    background: var(--Color-primary);
    border-radius: 5px 5px 0px 0px;
  }

  .aside__title h2 {
    padding: 22px 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;
  }

  /* ----- CARRINHO ----- */

  .teste {
    display: flex;
  }
  .box-carrinho {
    display: flex;
    flex-direction: column;

    width: 320px;
    min-height: 158px;

    background: var(--grey-20);
    border-radius: 0px 0px 5px 5px;
  }

  .box-carrinho li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;

    border-bottom: 1px solid #ccc;
  }

  .shop__img__carrinho {
    width: 70px;
    height: 70px;
  }

  .shop__img__carrinho img {
    width: 100%;
  }

  .shop__btn__carrinho {
    border: none;
    cursor: pointer;
  }

  .shop__title {
    display: flex;
    flex-direction: column;
  }

  .shop__resultado {
    text-align: center;
    font-size: 30px;
  }

  .shop__resultado span {
    color: var(--grey-50);
  }

  .box-carrinho_vazia {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 320px;
    height: 158px;

    background: var(--grey-20);
    border-radius: 0px 0px 5px 5px;
  }

  .box-carrinho__style {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .box-carrinho__style h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    color: #333333;
  }

  .box-carrinho__style p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height, or 171% */
    line-height: 24px;

    text-align: center;

    /* grey-300 */

    color: var(--grey-50);
  }

  .box-carrinho__value {
    display: flex;

    border-top: 1px solid var(--gray-100);

    justify-content: space-between;

    padding: 20px 0;
  }
}

@media screen and (min-width: 414px) {
  header .box-input input {
    width: 320px;
  }
}

@media screen and (min-width: 1024px) {
  /* HEADER */

  header > .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  /* MAIN */
  main > .container {
    flex-direction: row;
    justify-content: start;
    align-items: self-start;
  }
}
